<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>URL Shortener</title>
  </head>
  <body>
    <div>
      <h1>URL Shortener</h1>
      <form action="/shorten" method="POST" class="my-4 form-inline">
        <label for="" class="sr-only">URL</label>
        <input
          required=""
          placeholder="URL"
          type="url"
          name="longUrl"
          id="longUrl"
          class="form-control col mr-2"
        />
        <button type="submit" class="btn btn-primary">create url</button>
      </form>
      <div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Long URL</th>
              <th>Short URl</th>
              <th>Clicks</th>
            </tr>
          </thead>
          <tbody> 
      <tr> 
        <th scope="row">#</th> 
        <td><a target="" href="#">Long URL https://dfjfhiudfdsa</a></td>
        <td><a target="" href="#">Short URL http:///fjdi</a> </td>
        <td>0</td> 
      </tr> 
    </tbody>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
